@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@source "../../../packages/ui/src";

@font-face {
  font-family: "ComputerMono";
  src: url("/fonts/cmunss.ttf") format("truetype");
  font-style: normal;
}

@custom-variant dark (&:where(.dark, .dark *));

/* -------------------------------------------------------------------------- */
/* 1. THEME CONFIG                  */
/* -------------------------------------------------------------------------- */
@theme {
  /* -- Fonts -- */
  --font-sans:
    -apple-system, BlinkMacSystemFont, ui-sans-serif, system-ui, sans-serif, "DM Sans",
    "ComputerMono";
  --font-mono: "DM Mono", SFMono-Regular, ui-monospace, monospace;
  --font-marker: "Permanent Marker", cursive;

  --border-width-3: 3px;

  /* -- Radius -- */
  --radius: 0.125rem;
  --radius-none: 0;

  /* -- Color Mapping (Tailwind Token -> CSS Variable) -- */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-tomato-50: oklch(0.966 0.02 58.09);
  --color-tomato-100: oklch(0.925 0.044 52.65);
  --color-tomato-200: oklch(0.86 0.083 47.74);
  --color-tomato-300: oklch(0.787 0.131 44.58);
  --color-tomato-400: oklch(0.717 0.184 41.88);
  --color-tomato-500: oklch(0.647 0.204 35.64);
  --color-tomato-600: oklch(0.541 0.156 44.32);
  --color-tomato-700: oklch(0.441 0.112 52.6);
  --color-tomato-800: oklch(0.342 0.081 59.23);
  --color-tomato-900: oklch(0.234 0.052 66.25);
  --color-tomato-950: oklch(0.188 0.04 72.97);
  --color-signal: var(--color-tomato-500);

  --color-azure-50: #f3f3f3;
  --color-azure-100: #ebebeb;
  --color-azure-200: oklch(0.869 0.025 206.12);
  --color-azure-300: oklch(0.805 0.055 214.1);
  --color-azure-400: oklch(0.744 0.081 221.08);
  --color-azure-500: oklch(0.675 0.126 227.44);
  --color-azure-600: oklch(0.573 0.062 220.56);
  --color-azure-700: oklch(0.464 0.031 214.09);
  --color-azure-800: oklch(0.353 0.011 205.73);
  --color-azure-900: #222222;
  --color-azure-950: #131313;

  --color-grey-50: oklch(0.965 0.013 101.94);
  --color-grey-100: oklch(0.941 0.003 67.83);
  --color-grey-200: oklch(0.871 0.006 31.28);
  --color-grey-300: oklch(0.812 0.009 0.38);
  --color-grey-400: oklch(0.752 0.015 336.36);
  --color-grey-500: oklch(0.685 0.017 310.1);
  --color-grey-600: oklch(0.578 0.019 274.64);
  --color-grey-700: oklch(0.465 0.006 228.85);
  --color-grey-800: oklch(0.353 0.004 196.81);
  --color-grey-900: oklch(0.249 0.003 164.62);
  --color-grey-950: oklch(0.188 0.005 145.3);

  --color-paper-50: hsl(50 37.5% 96.9%);
  --color-paper-100: hsl(37.5 26.7% 94.1%);
  --color-paper-200: oklch(0.888 0.031 100.89);
  --color-paper-300: oklch(0.817 0.03 115.4);
  --color-paper-400: oklch(0.738 0.034 130.67);
  --color-paper-500: oklch(0.668 0.037 142.5);
  --color-paper-600: oklch(0.593 0.027 154.7);
  --color-paper-700: oklch(0.524 0.02 164.04);
  --color-paper-800: oklch(0.455 0.013 182.32);
  --color-paper-900: oklch(0.379 0.011 187.57);
  --color-paper-950: oklch(0.342 0.01 207.01);

  --color-ink-50: #dfdfdf;
  --color-ink-100: oklch(0.861 0.001 287.17);
  --color-ink-200: oklch(0.777 0.004 286.53);
  --color-ink-300: oklch(0.691 0.009 278.65);
  --color-ink-400: oklch(0.604 0.015 272.59);
  --color-ink-500: oklch(0.517 0.015 266.61);
  --color-ink-600: oklch(0.431 0.011 264.47);
  --color-ink-700: oklch(0.344 0.01 260.73);
  --color-ink-800: oklch(0.254 0.007 248.1);
  --color-ink-900: oklch(0.199 0.005 248.07);
  --color-ink-950: oklch(0.149 0.005 264.49);

  /* -- Animations (Vital for Shadcn Components) -- */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* 2. BASE VARIABLES                          */
/* -------------------------------------------------------------------------- */
@layer base {
  :root {
    /* --background: hsl(0 0% 100%);
    --foreground: hsl(240 10% 3.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 10% 3.9%); */
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 10% 3.9%);
    /* --primary: hsl(240 5.9% 10%);
    --primary-foreground: hsl(0 0% 98%); */
    /* --muted: hsl(240 4.8% 95.9%);
    --muted-foreground: hsl(240 3.8% 46.1%); */
    --accent: hsl(240 4.8% 95.9%);
    --accent-foreground: hsl(240 5.9% 10%);
    /* --border: hsl(240 5.9% 90%); */
    --input: hsl(240 5.9% 90%);
    --ring: hsl(240 5.9% 10%);
    --radius: hsl(0.5rem);
    /* Chart bg colors */
    --level-untrained: 140 100 100;
    --level-novice: 100 140 100;
    --level-intermediate: 70 120 160;
    --level-advanced: 90 60 160;
    --level-elite: 139 26 26;

    --background: var(--color-paper-50);
    --foreground: var(--color-ink-800);
    --card: var(--color-paper-100);
    --card-foreground: var(--color-ink-900);
    --border: var(--color-ink-300);
    --muted: var(--color-ink-100);
    --muted-foreground: var(--color-ink-500);
    --destructive: var(--color-signal);
    --destructive-foreground: hsl(0 0% 100%);

    /* --primary: var(--color-ink-900);
    --primary-foreground: var(--color-paper-100); */

    --primary: var(--color-signal);
    --primary-foreground: hsl(0 0% 100%);

    --secondary: var(--color-paper-800);
    --secondary-foreground: var(--color-paper-100);
  }

  .dark {
    /* --background: black;
    --foreground: var(--color-neutral-100);
    --card: hsl(215 28% 13%);
    --card-foreground: hsl(40 33% 98%); */
    --popover: hsl(215 28% 13%);
    --popover-foreground: hsl(40 33% 98%);
    /* --primary: hsl(40 33% 98%);
    --primary-foreground: hsl(215 28% 17%);
    --muted: var(--color-neutral-500);
    --muted-foreground: var(--color-neutral-400);
    --border: hsl(215 20% 30%); */
    --input: hsl(215 20% 30%);
    --ring: hsl(215 20% 50%);

    /* Chart bg colors */
    --level-untrained: 210 170 170;
    --level-novice: 170 210 170;
    --level-intermediate: 140 190 230;
    --level-advanced: 160 130 230;
    --level-elite: 220 90 90;

    --background: var(--color-black);
    --foreground: var(--color-paper-100);
    --card: var(--color-ink-800);
    --card-foreground: var(--color-paper-100);
    --border: var(--color-ink-900);
    --muted: var(--color-ink-700);
    --muted-foreground: var(--color-ink-300);
    --destructive: var(--color-signal);
    --destructive-foreground: hsl(0 0% 0%);

    --primary: var(--color-signal);
    --primary-foreground: hsl(0 0% 0%);

    --secondary: var(--color-ink-200);
    --secondary-foreground: var(--color-ink-800);
    --accent: var(--color-paper-300);
    --accent-foreground: var(--color-ink-800);
  }
}

/* -------------------------------------------------------------------------- */
/* 3. GLOBAL UTILITIES & RESETS                                              */
/* -------------------------------------------------------------------------- */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Helper for the sketch effect */
  .sketch-line {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

/* Shadcn "Container" Utility 
   Tailwind v4 removes the default container configuration. 
   We explicitly recreate the Shadcn behavior here.
*/
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/* text styles */
@layer components {
  .section-heading {
    @apply text-sm font-semibold text-muted-foreground uppercase tracking-wider;
  }
}
